# Problem Solving and programming

### Day No - 10

### Date - 8th May 2019

## Printing statement

In [2]:
print('hello world')

hello world

## Variable Assignment

In [6]:
var1 = 16
var2 = var1**var1
var3 = var1*var2
print(var2)

18446744073709551616

## Count Digits in a number

In [8]:
print(len(str(var2)))

20

## Getting the datatype of a variable

In [9]:
type(var1)

int

In [13]:
type(var3)

int

In [16]:
type(var2)
type("Python")

str

## String slicing

In [19]:
str1='Python Programming'

str1[0] # Accessing the first character

'P'

In [20]:
str1[len(str1)-1] # Printing the last character

'g'

In [21]:
str1[0:6] # Printing first 6 characters

'Python'

In [22]:
str1[len(str1)-1::-1] # Reverse of a string

'gnimmargorP nohtyP'

In [23]:
str1[0:len(str1):2] # Alternate characters

'Pto rgamn'

In [27]:
str1[5::-2] # Reverse alternate characters

'nhy'

In [28]:
str1[7:]*10 # Repeating a string n times

'ProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgramming'

In [34]:
print(str1[7:],str1[7:])

Programming Programming

In [38]:
print(str1[7:],end='\n')
print(str1[7:],end='\n')

Programming
Programming

## Lists

In [39]:
li = [123,345,'Python']
li

[123, 345, 'Python']

In [40]:
len(li) # Length of the list.It works for any iterable object.

3

In [41]:
li[1] # Accessing a single list element

345

In [44]:
li[len(li)-1] = 'Programming' # Replacing an element
li

[123, 345, 'Programming']

In [45]:
li.append('Python') # Adding a new element to a list only at the end
li

[123, 345, 'Programming', 'Python']

In [46]:
print(li)

[123, 345, 'Programming', 'Python']

In [47]:
li[2:] # Fetching Last two elements

['Programming', 'Python']

In [48]:
li.pop() # Removes the last element

'Python'

In [49]:
li

[123, 345, 'Programming']

In [54]:
li.remove(123) # Removes the value

In [55]:
li

['Programming']

In [56]:
li.pop(0) # Removes the element at the given index

'Programming'

In [57]:
li

[]

In [58]:
li.insert(0,123) # To insert an element anywhere in the list

In [59]:
li

[123]

In [64]:
li.insert(1,567)

In [65]:
li

[123, 567, 567]

In [66]:
li[1]

567

In [67]:
li

[123, 567, 567]

In [68]:
li.pop()

567

In [69]:
li

[123, 567]

In [70]:
li2=[[1,2,3],[4,5,6],[7,8,9]]

In [71]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [72]:
li2[0]

[1, 2, 3]

In [74]:
li2[0][1]

2

In [75]:
li2.insert(3,[10,11,12])

In [78]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [79]:
li2.pop()

[10, 11, 12]

In [80]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [86]:
li2[1].pop(2)

6

In [87]:
li2

[[1, 2, 3], [4, 5], [7, 8, 9]]

In [88]:
li2[1].insert(2,6)

In [89]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [90]:
for i in range(0,len(li2)):
    for j in range(0,len(li2[i])):
        print(li2[i][j],end=" ")

1 2 3 4 5 6 7 8 9

In [98]:
for i in range(len(li2)-1,-1,-1):
    for j in range(len(li2[i])-1,-1,-1):
        print(li2[i][j],end=" ")

9 8 7 6 5 4 3 2 1

In [144]:
li

[123, 567]

In [145]:
li.append(100)

In [147]:
li.append(150)

In [149]:
li.pop(4)

150

In [152]:
li

[123, 567, 100, 150]

In [153]:
li.sort()
li

[100, 123, 150, 567]

In [156]:
li.extend(20)

TypeError: 'int' object is not iterable

## Tuples

In [150]:
t1 = (123, 345, 567)

In [151]:
t1

(123, 345, 567)

In [103]:
t1[2]+t1[1]

912

In [104]:
t1[2]

567

In [106]:
t1[(len(t1)-1)]

567

In [107]:
t1[1:3]

(345, 567)

In [113]:
t1[2::-1]

(567, 345, 123)

In [115]:
str(t1[0])[1] +" "+str(t1[1])[1]+" "+str(t1[2])[1]

'2 4 6'

In [118]:
t1[len(t1)-1::-1]

(567, 345, 123)

In [120]:
t1

(123, 345, 567)

In [122]:
str(t1[0])[2::-1] +" "+str(t1[1])[2::-1] +" "+str(t1[2])[2::-1]

'321 543 765'

In [123]:
str(t1[2])[2::-1] +" "+str(t1[0])[2::-1] +" "+str(t1[1])[2::-1]

'765 321 543'

## Reading Input from a User

In [126]:
str1=input("Enter a string = ")

Enter a string = Good Afternoon Baby !

## Dictionaries

In [127]:
d1 = {'Procedural':'C','Scripting':'Python','Functional':'Haskel'}

In [128]:
d1

{'Procedural': 'C', 'Scripting': 'Python', 'Functional': 'Haskel'}

In [129]:
d1['Scripting']

'Python'

In [130]:
d1.values()

dict_values(['C', 'Python', 'Haskel'])

In [131]:
d1.keys()

dict_keys(['Procedural', 'Scripting', 'Functional'])

In [157]:
d2 = {'Symbolic':'Mathematica','logic':'prolog'}

In [158]:
d1.update(d2) # Merging of two dictionaries

In [159]:
d1

{'Procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskel',
 'Symbolic': 'Mathematica',
 'Object Oriented': 'Java',
 'logic': 'prolog'}

In [160]:
d1['Object Oriented'] = 'Java' # Adding a new element to dictionaries

In [161]:
d1

{'Procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskel',
 'Symbolic': 'Mathematica',
 'Object Oriented': 'Java',
 'logic': 'prolog'}

In [162]:
d1

{'Procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskel',
 'Symbolic': 'Mathematica',
 'Object Oriented': 'Java',
 'logic': 'prolog'}

In [163]:
d1['logic']

'prolog'

### Problem 1:
#### Problem Statement :
For a given number, define a functiobn to check if it is divisible by 2 and 3 but not 4.


#### Constraints :
Given number will be in the range.[1,1000000000]

#### Test Cases
* Test Case 1 : checkDivisibility(6)-> True
* Test Case 2 : checkDivisibility(16)-> False
* Test Case 3 : checkDivisibility(20)-> False

In [170]:
def checkDivisibility(n):
    if(n % 2 ==0 and n % 3== 0 and n % 4 != 0):
        return True
    else:
        return False
checkDivisibility(20)

False